@model PagedList.IPagedList<Repository.Models.CVApplication>
@using PagedList.Mvc;
@Styles.Render("~/Content/PagedList")

@{
    ViewBag.Title = "Lista Aplikacji - metaTitle - do 60 znaków";
    ViewBag.Opis = "Lista złożonych CV";
    ViewBag.SlowaKluczowe = "Lista aplikacji, złożone CV";
}

<h2>Aplikacje</h2>

<p>
    @Html.ActionLink("Dodaj", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Imie i Nazwisko", "Index", new { sortOrder = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Stanowisko", "Index", new { sortOrder = ViewBag.WorkplaceSort })
        </th>
        <th>
            @Html.ActionLink("Data dodania", "Index", new { sortOrder = ViewBag.DateTimeSort })
        </th>
        <th>
            Pobierz
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.ActionLink("Pobierz", "DownloadCVFile", new { id = item.CVFileId }, new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))*@
            @if (User.Identity.IsAuthenticated)
                {

                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })

                @: |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageCount ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
</div>