@model Repository.Models.Place

@{
    ViewBag.Title = "Usuń miejsce nr: " + Model.Id;
    ViewBag.Opis = "Usuń miejsce nr: " + Model.Id + "Opis dla Google";
    ViewBag.SlowaKluczowe = "Usuń miejsce, słowa kluczowe, keywords";
}

<h2>Usuń miejsce @Model.Name</h2>

@if (ViewBag.Blad == true)
{
    <div class="alert-danger" role="alert">
        Wytąpił błąd podczas usuwania, <br />
        spróbuj ponownie.
    </div>
}

<h3>Czy na pewno chcesz usunąc wpis?</h3>
<div>
    <h4>Miejsce:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        $('.confirmation').on('click', function () {
            return confirm('Czy na pewno chcesz usunąć?');
        });
    </script>
}